<main>
    <img src="./assets/img/placeholder.jpg" alt="placeholder">
    <div>
        <h2>Estudios</h2>
        <ul>
            <li>Grando Medio - Sistemas microinformaticos y redes ( 2016 - 2018 )</li>
            <li>Grando Superior - Desarrollo de aplicaciones multiplataforma ( 2018 - 2020 )</li>
            <li>Especialicacion - Programacion FullStack ( 2022 - 2023 )</li>
        </ul>
        <h2>Experiencia laboral</h2>
        <ul>
            <li>Lorem ipsum dolor sit amet, consectetur adipiscing elit. </li>
            <li>Lorem ipsum dolor sit amet, consectetur adipiscing elit.</li>
            <li>Lorem ipsum dolor sit amet, consectetur adipiscing elit.</li>
        </ul>
        <h2>Proyectos</h2>
        <ul>
            <li>Lorem ipsum dolor sit amet, consectetur adipiscing elit.</li>
            <li>Lorem ipsum dolor sit amet, consectetur adipiscing elit.</li>
            <li>Lorem ipsum dolor sit amet, consectetur adipiscing elit.</li>
        </ul>
    </div>
</main>